<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Card</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="shortcut icon" type="x-icon" href="../image/favicon.png">
</head>
<body>



<!-- fillimi navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Gift Card</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../template/help.html">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../template/login.html">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="add" href="../template/cart_views.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="pro-count cart-items-count">0</span>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- mbarimi navbar-->

<!--fillimi permbajtja-->

<div class="container-fluid cart_part" id="cart-list">
    <div class="row">
        <div class="col-12 col-lg-8 first_cart_part">
            <h1>Shopping Cart</h1>
            <p class="price">Price</p>
            <hr>
            <div class="first_group_cart">
                <div class="cart_image">
                    <div class="card-select ">
                        <img src="../image/adidas.jpg" alt="image" class="cart_image">
                    </div>
                </div>
                <div class="cart_detail">
                    <div class="title_price">
                        <h4>Adidas Gift Card</h4>
                        <h3>$XXX</h3>
                    </div>
                    <p><span>#1 Best Seller </span> in Gift Cards</p>
                    <p>Send to: <span class="cart_span">demo@test.com</span></p>
                    <p>From: <span class="cart_span">demo@test.com</span></p>
                    <p>Deliver on: <span class="cart_span">xx/xx/xxxx</span></p>
                    <p>Message: <span class="cart_span">Hope you enjoy this Gift Card</span></p>
                    <div class="crud">
                        <p>QTY: 1</p>
                        <p><button class="delete-product" data-product="" style="text-decoration: none; border: none; background: none; font-weight: 700; color: #0d6efd">Remove</button></p>
                        <input type="hidden" id="user-logged-in">
                    </div>
                </div>
            </div>
            <hr>
            <div class="first_group_cart">
                <div class="cart_image">
                    <div class="card-select ">
                        <img src="../image/nike.jpg" alt="image" class="cart_image">
                    </div>
                </div>
                <div class="cart_detail">
                    <div class="title_price">
                        <h4>Nike Gift Card</h4>
                        <h3>$XXX</h3>
                    </div>
                    <p><span>#1 Best Seller </span> in Gift Cards</p>
                    <p>Send to: <span class="cart_span">demo@test.com</span></p>
                    <p>From: <span class="cart_span">demo@test.com</span></p>
                    <p>Deliver on: <span class="cart_span">xx/xx/xxxx</span></p>
                    <p>Message: <span class="cart_span">Hope you enjoy this Gift Card</span></p>
                    <div class="crud">
                        <p>QTY: 1</p>
                        <p><button class="delete-product" data-product="" style="text-decoration: none; border: none; background: none; font-weight: 700; color: #0d6efd">Remove</button></p>
                        <input type="hidden" id="user-logged-in">
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pay_subtotal">
            <h5>Subtotal ( 2 items): <span>$XXX</span></h5>
            <a href="pay_from_cart.html"><button>Proceed to checkout</button></a>
        </div>
    </div>
</div>

<!--mbarimi permbajtja-->

       <!--Nis footer-->
    <footer class="container-fluid px-0">
        <div class="info">
            <div class="colone">
                <a href="../index.html"><h3>Gift Card</h3></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="colone1">
                <h6>HOW IT WORKS</h6>
                <ul>
                    <li><a href="#"><span> <i class="fa-solid fa-address-card"></i> </span> Sing Up </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-money-check-dollar"></i> </span> Buy Discount Gift Cards </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-calendar-days"></i> </span> 100 Day Guarantee </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-truck-fast"></i> </span> Shipping & Delivery </a></li>
                    <li><a href="#"><span> <i class="fa-regular fa-credit-card"></i> </span> Buy In Bulk </a></li>
                    <li><a href="#"><span> <i class="fa-regular fa-circle"></i> </span> FAQ </a></li>
                </ul>
            </div>
            <div class="colone1">
                <h6>ABOUT</h6>
                <ul>
                    <li><a href="#"><span> <i class="fa-regular fa-address-card"></i> </span> About Gift Card </a></li>
                    <li><a href="#"><span> <i class="fa-regular fa-envelope"></i> </span> Contact Us </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-check"></i> </span> Terms of Services </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-lock"></i> </span> Privacy Policy </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-star"></i> </span> Reviews </a></li>
                </ul>
            </div>
            <div class="colone1">
                <h6>CHECK BALANCE</h6>
                <ul>
                    <li><a href="#"><span> <i class="fa-solid fa-mug-hot"></i> </span> Starbucks </a></li>
                    <li><a href="#"><span> <i class="fa-regular fa-hand-peace"></i> </span> Best Buy </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-money-bill-transfer"></i> </span> Home Depot </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-industry"></i> </span> Walmart </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-masks-theater"></i> </span> Amc Theatres </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-utensils"></i> </span> Darden Restaurants </a></li>
                </ul>
            </div>
            <div class="colone1">
                <h6>CATEGORIES</h6>
                <ul>
                    <li><a href="#"><span> <i class="fa-solid fa-earth-europe"></i> </span> All Categories </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-utensils"></i> </span> Restaurants </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-basketball"></i> </span> Sporting Goods </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-store"></i> </span> Departament Stores </a></li>
                    <li><a href="#"><span> <i class="fa-solid fa-film"></i> </span> Movies & Entertainments </a></li>
                </ul>
            </div>
        </div>
        <div class="stepfooter">
            <p>Follow Us</p>
            <div class="social_app">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="copy">
          Copyright &#169; <span id="year">2020</span>. All right Reserved.
        </div>
    </footer>
    <!-- Mbaron footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="../js/jQuery.js"></script>
<script src="../js/main.js"></script>
<script src="../js/add-to-cart.js"></script>
<script src="../js/gift_card_detail.js"></script>
<script src="../js/message_timer.js"></script>

</body>
</html>